<html>

    <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel=stylesheet type=text/css href="../static/styles.css"> 
    </head>
    <body>
        <div class="row"> 
            <div class="col-lg-8 col-md-1 col-sm-1">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8 header">
                <a href="{{url_for('showRestaurants')}}" style="text-decoration:none">
                    <h1 class="lan"> The Old Smoke </h1>
                </a>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
        </div>

    <br>

    </body>
</html>