<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
        <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}"> 
    </head>
    <body> 
        
        <div class="row">
            <div class="col-md-1">
                <a href="{{url_for('showRestaurants')}}"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="col-md-10">
                <div class = "header">
                    <h1> The Old Smoke </h1>
                </div>
                <div class="col-md-1">
            </div>
            </div>
        </div>
        
    <h1> Edit Restaurant </h1>
    
    <form action = "{{url_for('editRestaurant', restaurant_id = restaurant_id)}}" method = "POST">
    <p>Name: </p>
    <input type = "text" size = '30' name = 'name' placeholder = '{{r.name}}'>
    <input type ='submit' value = 'Edit'> 
    </form>
    
    <a href="{{url_for('showRestaurants')}}"> Cancel </a>
        
    </body>
</html>