<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
        <link rel=stylesheet type=text/css href="{{url_for('static',filename='styles.css')}}"> 
    </head>    
    <body> 
        <div class="row">
            <div class="col-md-1">
                <a href="{{url_for('showRestaurants')}}"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div class="col-md-10">
                <div class = "header">
                    <h1> The Old Smoke </h1>
                </div>
                <div class="col-md-1">
            </div>
            </div>
        </div>
    <h1> {{restaurant.name}} </h1>

    <a href = "{{url_for('newMenuItem', restaurant_id = restaurant_id)}}">Create new menu item</a>
        
    {% if items %}
        <h2> Appetizers </h2>
            {% for i in items %}
                {%if i.course == 'Appetizer'%}
                    <b>{{i.name}}</b>    
                    <p>{{i.description}}</p>
                    <p>{{i.price}}</p>
                    <a href="{{url_for('editMenuItem',restaurant_id = restaurant_id, menu_id = i.id)}}">Edit</a><br>
                    <a href="{{url_for('deleteMenuItem',restaurant_id = restaurant_id, menu_id = i.id)}}">Delete</a><br>
                    <br>
                {% endif %}
            {% endfor %}
        
                <h2> Entrees </h2>
            {% for i in items %}
                {%if i.course == 'Entree'%}
                    <b>{{i.name}}</b>    
                    <p>{{i.description}}</p>
                    <p>{{i.price}}</p>
                    <a href="{{url_for('editMenuItem',restaurant_id = restaurant_id, menu_id = i.id)}}">Edit</a><br>
                    <a href="{{url_for('deleteMenuItem',restaurant_id = restaurant_id, menu_id = i.id)}}">Delete</a><br>
                    <br>
                {% endif %}
            {% endfor %}
 
                <h2> Desserts </h2>
            {% for i in items %}
                {%if i.course == 'Dessert'%}
                    <b>{{i.name}}</b>    
                    <p>{{i.description}}</p>
                    <p>{{i.price}}</p>
                    <a href="{{url_for('editMenuItem',restaurant_id = restaurant_id, menu_id = i.id)}}">Edit</a><br>
                    <a href="{{url_for('deleteMenuItem',restaurant_id = restaurant_id, menu_id = i.id)}}">Delete</a><br>
                    <br>
                {% endif %}
            {% endfor %}        

                <h2> Beverages </h2>
            {% for i in items %}
                {%if i.course == 'Beverage'%}
                    <b>{{i.name}}</b>    
                    <p>{{i.description}}</p>
                    <p>{{i.price}}</p>
                    <a href="{{url_for('editMenuItem',restaurant_id = restaurant_id, menu_id = i.id)}}">Edit</a><br>
                    <a href="{{url_for('deleteMenuItem',restaurant_id = restaurant_id, menu_id = i.id)}}">Delete</a><br>
                    <br>
                {% endif %}
            {% endfor %}        
        
    {% else %}
        <p> There are currently no menu items</p>
    {% endif %}
    </body>
    
</html>